*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* margin-top: 5px; */
    margin-left: 20px;
}
.nav-items{
    display: flex;
    font-family: sans-serif;
    justify-content : space-between;
    position : relative;
    margin-top: 10px;
    align-items: center;
}    
.nav-item{
    opacity: 55%;
    padding: 5px;
    font-size: 25px;
    display: flex;
    width: 130px;
}
.active-item{
    opacity: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section h3{
    margin-top: 30px;
    font-size: 300%;
}

.intro-section {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
}
.left-section h1{
    font-family: "Fredoka One" , sans-serif;
    font-size: 400%;
    font-weight: bolder;
    /* border-radius: 10px; */
}

.sub-headlines{
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 50px;
}

.sub-headline img{
    border-radius: 50px;
    background: #f95e38;
    width: 25px;
}
.left-section h3 img{
    margin-left: 10px;
}
.text{
    margin-top: 60px;
    padding-right: 20%;
}

.action-btns {
    margin-top: 50px;
  }
.action-btn{
    background-color: #f95e38;
    color: #fff;
    padding: 20px 40px;
    border-radius: 40px;
    margin-right: 20px;
    font-size: 1.6rem;
}

/* .right-section{
    position: relative;
} */

/* .headphone-div{
    position: relative;
} */

/* .headphone-div :nth-child(1){
    height: 130px;
    position: absolute;
    top: 370px;
    right: 300px;
} */
.headphone-div{
    position: relative;

}
.headphone-div .discount {
    height: 120px;
    position: absolute;
    bottom: 30px;
}
/* .discount-content {
    position: fixed;
    top: 300px;
    bottom: 300px;
} */


.headphone-div :nth-child(3){
    height: 420px;
}

.discount-content{
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: #fff;
}

